/* CSS Document */
<style>
  .center{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:50%;
  }
  p {
    margin-top: 96px;
    margin-bottom: 96px;
    margin-right: 96px;
    margin-left: 96px;
  }